#container {
  background-color: blue; 
  height: 960px;
  width: 960px;
}

.app {
  float: right; 
  min-height: 50px;
  min-width: 50px;
  background-color: pink;
  display: inline-block;
  outline: 1px black solid;
}

.highlight {
  background-color: orange; 
}
