#container {
  background-color: blue;
  height: 960px;
  width: 960px;
  margin-top: 50px;
  /*overflow: hidden;*/
  text-align: center;
}

.app {
  height: 100px;
  width: 100px;
  margin-top: -5px;
  display: inline-block;
  outline: 1px black solid;
}

.highlight {
  background-color: grey;
}

button {

}
