/* Most of the styling should be done through jQuery and JavaScript
however keep the styles in here, keep application.js clean */

div {
  height: 120px;
  width: 120px;
  background-color: blue; 
  //outline: 1px solid; 
  display: inline-table; 
  border-radius: 5px;
}
.highlight {
  background-color: red; 
}